body{
    margin: 0;
    display: grid;
    grid-template-areas:'header header header header'
                        'nav nav nav nav'
                        'sakura sakura kakashi kakashi'
                        'minato minato minato minato';
     grid-template-rows: 20vh 15vh 50vh 30vh;     
     grid-template-columns: 20% 20% 20% 20%;
     background-color: black;   
     grid-gap: 5px;         
                    
}

header {
    grid-area:header;
    background-color: gray;
    
    display: flex;
    justify-content: center;

}

header div img{
        background-color: #a5a5a5;
    
        width: 100px; 
        height:100%;
    
    

}
nav{
    grid-area: nav;
    background-color: blue;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

}
section{
    align-items: center;
    background-color: green:
    grid-area: sakura;
    
}
aside{
    grid-area: kakashi;
    background-color: yellow;
    display: inline;
    
}
footer{
    grid-area: minato;
    background-color: purple;
}

